@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Custom Scrollbar for Webkit browsers */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-slate-100 dark:bg-slate-800;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-300 dark:bg-slate-600 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-400 dark:bg-slate-500;
  }
  
  /* Custom Scrollbar for Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #d1d5db #f1f5f9; /* thumb track */
  }
  html.dark * {
    scrollbar-color: #4b5563 #1e293b;
  }
}